models/*
*.pyc         # Скомпилированные файлы Python
__pycache__/ # Папка с кэшем Python
cv_app/__pycache__/
model_inference/__pycache__/
.DS_Store      # Файлы macOS Desktop Services
venv/         # Папка виртуального окружения Python
*.log         # Лог-файлы
*.sqlite3     # Файлы базы данных SQLite
media/        # Папка с медиафайлами
db.sqlite3    # база данных
.env          # секретности